{% extends 'home/base.html' %}

{% block title %}
    Sauveteurs du Dunkerquois
{% endblock %}

    {% block body %}
    <form>
        <label class="form-label" for="customFile">Déposer votre fichier</label>
        <input type="file" class="form-control" id="customFile" />

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block" formaction="{% url db:analyse %}">
            Extraire des informations
        </button>
        <input>
    </form>

{% endblock %}
